.img{
    height: 80px;
    width: 150px;
    margin-top: 15px;
    margin-left: -15px;
}
.logo{
 
}
.top-bar{
    background-color:rgba(238, 233, 229, 1) ;
    margin: -10px;
}
.side-bar{
    box-shadow:  3px 4px 4px rgba(31, 31, 31, 0.3);
    height: 600px;
    width: 200px;
    margin-top: 8px;
    font-weight: 500;
    font-size: 22px;
 
}
.icons{
    height:36px;
    width: 36px;
    object-fit: fill;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.individual{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}
#setting{
    margin-top: 300px;
}
.dash{
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 12px;
}
.welcome{
    font-weight: 600;
    font-size: 40px;
    color: rgba(1, 137, 71, 1);
}
.mid-bar{
    margin-left: 240px;
  margin-top: -600px;
}
.income{
    border: 1px solid black;
    width: 240px;
    border-radius: 8px;
    background-color: rgba(252, 249, 249, 1);
height: 80px;
}
.title{
    margin-left: 100px;
}
.holder{
    display: flex;
 justify-content: space-between;
 margin-top: 10px;
 margin-right: 8px;
 margin-left: 8px;
}
.transaction-icons{
    width: 30px;
    height: 30px;
}
.income-amt{
    color: rgba(1, 137, 71, 1);
    font-weight: bold;
    font-size: 16px;
}
.expense-amt{
    color:rgba(187, 0, 0, 1);
    font-weight: bold;
    font-size: 16px;
}
.balance-amt{
    color:rgb(0, 0, 0);
    font-weight: bold;
    font-size: 16px;
}
.transaction{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    margin-top: 20px;
}
.additions{
    box-shadow:3px 4px 4px rgba(31, 31, 31, 0.3); 
    border: 1px solid black;
    width: 400px;
    height: 300px;
    margin-left: 300px;
    margin-top: 60px;
}
.table-title{
    display: flex;

}
.table{
    border: 1px solid black;
    width: 320px;
    margin-left: 40px;
    margin-top: 20px;
    height: 200px;
}
input{
    width: 200px;
    height: 20px;
    font-size: 8px;
    margin-top: 2px;
    
    
}
input[type=number]{
    width: 40px;
    height: 20px;
    font-size: 8px;
    margin-top: 2px;
    
    
}

.amount-holder{
    display: flex;
    gap: 7px;
    margin-left: 12px;
    margin-top: 10px;
}
.note{
    display: flex;
    margin-top: 12px;
    gap: 15px;
    margin-left: 12px;
    
}
.add-btn{
    background-color: rgba(1, 137, 71, 1);
    border: none;
    color: white;
    padding: 4px 8px;
    margin-top: 2px;
    border-radius: 4px;
}
.sub-title{
    margin-right: 80px;
    margin-left: 40px;
    border-right: 1px solid black;
    padding-right: 60px;
    color:rgba(1, 137, 71, 1);;
}
.table-title{
    border-bottom: 1px solid black;
}
.tags{
    font-size: 8px;
    margin-top: 4px;
    margin-left:18px ;
}
#expense-title{
    color: rgba(187, 0, 0, 1);
}