body{
    background-color: rgba(202, 202, 202, 1);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main{
    background-color: rgba(238, 238, 238, 1);
    height: 570px;
    width: 1240px;
    margin-left: 60px;
    margin-top: 30px;
    
    }
    .logo{
        width: 400px;
        padding-top: 30px;
      margin-left: -70px;
    }
    .second-main{
        background-color: white;
        height: 520px;
        width: 440px;
        margin-left: 700px;
     margin-top: -240px;
     box-shadow:  3px 4px 4px rgba(31, 31, 31, 0.3);
    }
    .title{
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        }
        .titles{
            font-weight: bold;
            font-size: 38px;
            margin-top: 12px;
            color: rgba(1, 137, 71, 1);
          }
          .sub-title{
            font-size: 16px;
            margin-top: 38px;
            margin-left: 5px;
            font-weight: bold;
          }
          .details{
            margin-left: 36px;
            margin-top: 8px;
          }
          input[type=text],input[type=password] {
            width: 90%;
            padding: 10px 8px;
            margin: 8px 0;
            box-sizing: border-box;
            border: none;
            border-bottom: 2px solid rgb(0, 0, 0);
          }
         
          .forgot-pass,.term,.button-holder{
            margin-left: 36px; 
            margin-top: 10px;
          }
          .forgot-pass{
            color: rgba(139, 137, 137, 1);
            font-size: 14px;
          }
          .term{
            font-size: 14px;
            margin-top: 20px;
          }
          .button{
            margin-top: 30px;
            background-color: rgba(1, 137, 71, 1);
            color: white;
            border: none;
            border-radius: 6px;
            width: 120px;
            font-weight: bold;
         padding-top: 12px;
         padding-bottom: 12px;
         margin-left: 120px;
          }
          input[type=text]:focus {
            border: 1px solid;
            border-color:rgba(1, 137, 71, 1);  
        
          }