body{
    background-color: rgba(202, 202, 202, 1);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main{
background-color: rgba(238, 238, 238, 1);
height: 570px;
width: 1240px;
margin-left: 60px;
margin-top: 30px;

}
.logo{
    width: 400px;
    padding-top: 30px;
  margin-left: -70px;
}
.second-main{
    background-color: white;
    height: 520px;
    width: 440px;
    margin-left: 780px;
 margin-top: -240px;
 box-shadow:  3px 4px 4px rgba(31, 31, 31, 0.3);
 

}
.title{
  font-weight: bold;
  font-size: 35px;
  
}
.firstname,.lastname{
  background-color: rgba(240, 240, 240, 1);
  border: none;
  border-radius: 4px;
  padding: 8px ;
 }

 .names{
  display: flex;
  gap: 15px;
 }
 .email,.pword,.cpword{
  background-color: rgba(240, 240, 240, 1);
  background-color: rgba(240, 240, 240, 1);
  border: none;
  border-radius: 4px;
  padding: 8px ;
  display: flex;
  margin-top: 15px;
 }
