.container{
    display: flex;
    box-shadow:3px 4px 4px rgba(31, 31, 31, 0.3); 
    align-content: center;
 
    width: 480px;
    background-color: rgba(245, 235, 235, 1);
    height: 40px;
}
.add,.calendar-icon{
    background-color: rgba(245, 235, 235, 1);
    border:none;
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.plus{
margin-left: 15px;
padding-left: 15px;
background-color: white;
height: 40px;
width: 80px;
font-size: 20px;
color: rgba(172, 165, 165, 1);
}
.date{
    height: 40px;
    width: 50px;
    
}
input[type=date]{
    border: none;
    font-size: 18px;
    background-color: white;
    height: 40px;
margin-top: 0;
padding-right: 20px;
padding-left: 12px;
color: rgba(172, 165, 165, 1);

}
.calendar{
    margin-left: 12px;
    border-right: 1px solid rgba(192, 192, 192, 1);

}
.mid-main{
    box-shadow:3px 4px 4px rgba(31, 31, 31, 0.3); 
    height: 400px;
    width: 800px;
    margin-left: 120px;
}